button {
  border: none;
  padding: 5px 15px;
  margin: 2px;
  cursor: pointer;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
}

button.is-icon-button {
  width: 30px;
  padding: 5px 0px;
}

button:focus {
  outline: none;
}