.overlay.is-inactive {
  display: none;
}

.overlay.is-active {
  background: linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
  );
  display: inline-block;
  position: absolute;
  top: var(--header-height);
  left: 0;
  z-index: 4;
  width: 100%;
  height: 100%;
}

.app-settings-panel {
  box-sizing: border-box;
  position: absolute;
  z-index: 5;
  top: var(--header-height);
  left: 0;
  width: 400px;
  color: #4b4b4b;
  background-color: #f1f1f1;
  padding: 10px 0;
}

.app-settings-panel.closed {
  visibility: hidden;
}

.app-settings-panel.open {
  visibility: visible;
}

.settings-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2px;
}

.settings-item small {
  padding: 5px 0;
}

.settings-item small a {
  color: #4b4b4b;
}

.about {
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.settings-item:last-child {
  border-bottom: none;
}

.themes {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
